// @import '../main.scss';
.available-balance-container{
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 250px;
   height: 80px;
   cursor: pointer;
   border: 2px solid #4a463d;
   color: #161718;
   border-radius: 10px;
   background-color: #fff; 
   padding: 10px;
}
.availblepointsmarging{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
   }
.points-container{
  display: flex;
}
.points-redem-container{
  display: flex;
  margin-left: 560px;
 width: 40%;
  justify-content: end;
}
.points-redem-container1{
  display: flex;
  align-items: center;
  margin-left: 80px;
}.points-redem-containe-responsive{
  display: none;
}
@media  screen and (max-width:912px) {
  .points-redem-container{
width:55%;
margin-left:350px;
  }
}
@media  screen and (max-width:768px) {
  .points-redem-container{
    width: 60%;
    margin-left: 300px;
  }
  .points-redem-containe-responsive{
    display: flex;
  align-items: center;
  }
}
@media  screen and (max-width:540px) {
  .points-redem-container{
    width: 100%;
    margin-left: 0px;
  }
  .points-redem-containe-responsive{
    display: flex;
  align-items: center;
  }
}
@media  screen and (max-width:768px) {
  .points-redem-container1{
    margin-left: 50px;
  }
}
@media  screen and (max-width:540px) {
  .points-redem-container1{
    margin-left: 0px;
  }
}


@media  screen and (max-width:780px) {
  .available-balance-container{
    width: 265px;
  }
}
@media screen and (max-width:430px) {
  
  .available-balance-container{
    width: 220px;
    }
  
}
@media screen and (max-width:280px){
  .available-balance-container{
    width: 150px;
    height: 50px;
    font-size: 10px;
  }
}


@media screen  and (max-width:430px){
  
  .points-redem-container1{
    margin-left: 0px;
  }
}

  .creditredemption-container{
    display: flex;
  }
  .creditpointsbtn{
    width: 10%;
  }
  .verifyotpbtn{
    width: 100%;
  }
  @media  screen and (max-width:540px) {
    .points-container{
      flex-direction: column
    }
    .creditpointsbtn{
      width: 100%;
    }
  }
.coupon-points-error-msg-otulineing{
padding-left: 130px;
margin-top: 10px;
}
@media screen and (max-width:768px){
  .coupon-points-error-msg-otulineing{
    padding-left: 50px;
  }
  
}
 @media  screen and (max-width:430px) {
  .coupon-points-error-msg-otulineing{
    padding-left:100px ;
  }
 }
 @media  screen and (max-width:280px) {
  .coupon-points-error-msg-otulineing{
    padding-left: 20px;
  }
 }
